h1 {
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  text-align: center;
  color: #ff0000;
}
.tuf {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
h2 {
  text-align: center;
}

.par {
  text-align: center;
  color: rgb(8, 203, 0);
}
a {
    text-align: center;
    display: flex;
    justify-content: center;
}
