body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
.pembungkus {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  background-color: black;
  color: white;
  padding: 20px 0;
  max-height: 200px;
  overflow-y: auto;
}
.pembungkus ul {
  list-style: none;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.pembungkus li {
  margin-bottom: 10px;
}
.content {
    background-color: cornflowerblue;
    margin-left: 90px;
}

