body {
  padding: 0;
  margin: 0;
}
nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 20px gray;
  width: auto;
  height: 50px;
}
.logo img{
  width: 200px;
}
.button button {
  margin-right: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  border: solid blue 2px;
  color: blue;
  padding: 15px 20px;
  border-radius: 5px;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.menu ul li {
  margin-left: 30px;
}
.menu ul li a {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #333;
}
.menu ul li a:hover {
  color: blue;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
}
span {
  color: blue;
}
.right img {
  width: 700px;
  height: auto;
}
.left {
  max-width: 500px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;

}
.button2 button {
  background-color: blue;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  transform: translateY(-10px);
  transition: all 0.3s;
}
