#container {
    text-align: center ;
    color: #fff;
    font-size: 22px;
}
#header {
    height:100px ;
    background-color: grey ;
}
#content {
    width: 75%;
    height: 250px;
    background-color: darkblue;
    float: left;
}
#sidebar {
     width: 25%;
    height: 250px;
    background-color: green;
    float: right;
}
#footer {
    height: 50px;
    background-color: grey;
    clear: both;
}