html, body, #flex-container {
    height: 100%;
}
#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flex-item {
    width: 100px;
    height: 100px;
    margin: 4px;
    padding: 20px;
    background: #ec5453;
    font-size: 60px;
    color: white;
    text-align: center;
}
